{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News

{% endblock title %}

{% block content %}
    {% if not is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm"> Subscribe </a> </p>
    {% endif %}
   <h1 style="background-color: #3498DB; color: #ffffff;">All the news</h1>
   <p style="color: #29ABCA;">Total news: {{ news|length }}</p>
   <h3 style="background-color: #FFC107; color: #000000;">{% current_time '%b %d %Y' %}</h3>
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
   <h3 style="color: #8FBC8F;"> {{ next_sale|default_if_none:"some news" }} </h3>
<!--
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
    </form>
-->



   <hr>
   {% if category_news_list %}
       <table class="table table-bordered table-striped table-hover">
           <thead>
               <tr>
                   <td>author</td>
               </tr>
           <tr>
                   <td>content</td>
           </tr>

           <tr>
                   <td>something</td>
           </tr>
           </thead>
           <tbody>
           {% for post in category_news_list %}
           <tr>
               <a href="{% url 'post' post.id %}"> {{ post.title }} </a>
               <td>{{ post.author.author }}</td>
               <td>{{ post.content_of_article|truncatewords:20 }}</td>
               <td>
                   {% for category in post.category.all %}
                    <a href = "{% url 'category_list' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2 style="color: #29ABCA;">No news is a good news!</h2>
   {% endif %}

   {% if page_obj.has_previous %}

       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}


   {{ page_obj.number }}


   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}


