{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block content %}

<hr>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th style="background-color: #29ABCA; color: #ffffff;">Title</th>
      <th style="background-color: #FFC107; color: #000000;">Publish date</th>
      <th style="background-color: #3498DB; color: #ffffff;">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ news_single.name }}</td>
      <td>{{ news_single.publish_date }}</td>
      <td>{{ news_single.description|censor }}</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
