{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block content %}

<hr>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th style="background-color: #29ABCA; color: #ffffff;">Title</th>
      <th style="background-color: #FFC107; color: #000000;">Content</th>
      <th style="background-color: #3498DB; color: #ffffff;">Author</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ post.title }}</td>
      <td>{{ post.content_of_article }}</td>
      <td>{{ post.author.author }}</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
